/* .App {
  text-align: center;
} */

body{
  background-color: black;

}

.header{
  text-align: center;
  color: #f5c518;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.form-label{
  color:#fff;
}

.submit-btn{
  background-color:#f5c518;
  border: black;
  border-radius: 5px;
}

.show-card{
  color:white;
  font-size: 16px;
  text-align: center;
}

.poster{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.poster .close-btn{
  position: relative;
  right: 9%;
}

.rating{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

